{% extends 'new_base.html' %}

{% block custom_style %}
<style>

body {
    font-family: Arial, sans-serif;
   
}
table.dataTable thead th {
    background-color: #a20bf3; /* Arancione */
    color: #fff; /* Bianco */
    border-bottom: 2px solid #333; /* Nero */
}
table.dataTable tbody tr:nth-child(odd) {
    background-color: #161616; /* Grigio scuro */
}
table.dataTable tbody tr:nth-child(even) {
    background-color: #000000; /* Grigio chiaro */
}
table.dataTable tbody tr:hover {
    background-color: #ff7f00; /* Arancione */
    color: #000000; /* Bianco */
}
table.dataTable tr {
   font-weight: bold;
  
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 3px;
    color: white;
    /* border-radius: 1px; */
}
table.dataTable {
    width: 200%;
    height: 325px;
    border-collapse: collapse;
}
table.dataTable th, table.dataTable td {
    padding: 12px;
    text-align: left;
    border: 1px solid #555; /* Grigio scuro */
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #ff7f00; /* Arancione */
    color: #fff !important; /* Bianco */
    border: 1px solid #333; /* Nero */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #333; /* Nero */
    color: #ff7f00 !important; /* Arancione */
}
.dataTables_wrapper .dataTables_filter input {
    background-color: #555; /* Grigio scuro */
    color: #fff; /* Bianco */
    border: 1px solid #ff7f00; /* Arancione */
}

  </style>
{% endblock custom_style %}


{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
         
            
          
            
            
    <div class="flex space-x-5 mt-12 ">
      <div class=" overflow-hidden rounded-lg bg-white shadow p-4 bg-blue-50/60 " style="width: 100%; height: 300px;border-radius: 3rem; ">
        <p class="text-center font-bold text-2xl">Posizione: Analisi 1</p>
        <div class="flex  items-center h-full" style="    justify-content: space-around;">
          <!-- Quadrato 1 -->
          <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">1</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent " style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-1</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 2 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">2</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-2</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 3 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">3</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent " style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-3</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 4 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">4</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-4</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 5 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">5</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange;font-size: 21px;">-5</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        </div>
      </div>
     
    </div>
    <!-- END secondo contenitore -->
    <div class="px-4 sm:px-2 lg:px-2 xl:px-8" style="margin-top: 51px">
      <div class="flex justify-center items-center w-full h-full">
          <!-- Primo div -->
          <div class="bg-white shadow"
               style="border-radius: 3rem;
                      width: 100%; /* Modifica la larghezza per adattarsi al contenitore */
                      max-width: 40rem; /* Larghezza massima per LG e SM */
                      padding: 2.75rem; /* Utilizza valori relativi per il padding */
                      height: 13rem; /* Utilizza valori relativi per l'altezza */
                      ">
  
              <p class="text-center font-bold text-2xl" style="margin-top: -1.5rem; margin-bottom: -0.75rem;">TIMEOUT analisi</p>
              
              <div class="border border-black rounded-lg px-10 py-2 mt-4 sm:px-6 lg:px-28"> <!-- Modifica px-6 -->
                  <p class="text-center font-bold">----</p>
              </div>
          </div>
      </div>
  </div>
  
   




    <div class="flex space-x-5 mt-12 ">
      <div class=" overflow-hidden rounded-lg bg-white shadow p-4 bg-blue-50/60 " style="width: 100%; height: 300px;border-radius: 3rem; ">
        <p class="text-center font-bold text-2xl">Posizione: Analisi 2</p>
        <div class="flex  items-center h-full" style="    justify-content: space-around;">
          <!-- Quadrato 1 -->
          <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">6</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent " style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-6</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 2 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">7</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-7</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 3 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">8</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent " style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-8</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 4 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">9</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange; font-size: 21px;">-9</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        <!-- Quadrato 5 -->
        <div class="flex flex-col items-center">
            <span class="mb-2" style="color: black; font-size: 21px;">10</span>
            <div class="flex flex-col items-center justify-center w-16 h-16 border bg-transparent "style="border-radius: 2.0rem;">
                <span style="color: orange;font-size: 21px;">-10</span>
            </div>
            <div class="mt-2 w-8 h-8 rounded-full" style="background-color: transparent;
            border: 1px solid black;"></div>
        </div>
        </div>
      </div>
     
    </div>
    <!-- END secondo contenitore -->
    <div class="px-4 sm:px-2 lg:px-2 xl:px-8" style="margin-top: 51px">
      <div class="flex justify-center items-center w-full h-full">
          <!-- Primo div -->
          <div class="bg-white shadow"
               style="border-radius: 3rem;
                      width: 100%; /* Modifica la larghezza per adattarsi al contenitore */
                      max-width: 40rem; /* Larghezza massima per LG e SM */
                      padding: 2.75rem; /* Utilizza valori relativi per il padding */
                      height: 13rem; /* Utilizza valori relativi per l'altezza */
                      ">
  
              <p class="text-center font-bold text-2xl" style="margin-top: -1.5rem; margin-bottom: -0.75rem;">TIMEOUT analisi</p>
              
              <div class="border border-black rounded-lg px-10 py-2 mt-4 sm:px-6 lg:px-28"> <!-- Modifica px-6 -->
                  <p class="text-center font-bold">----</p>
              </div>
          </div>
      </div>
  </div>
  
      
    </div>
{% endblock content %}

{% block javascripts %} 
{% endblock javascripts %}