{% extends 'base.html' %}

{% block content %}

{% include "utils/preloader.html" %}

<div class="base-container">
    <h1>Gruppi di Variabili</h1>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for gruppo in lista_gruppi %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td class="text-center">{{ gruppo.name }}</td>
                <td class="text-center">
                    <a href="{{ url_for('variabili_blueprint.registra_variabile', gruppo_id=gruppo.id) }}" class="btn btn-primary"><i class="mse mse-add-variable"></i> Aggiungi variabile</a>
                    <a href="{{ url_for('variabili_blueprint.modifica_gruppo', gruppo_id=gruppo.id) }}" class="btn btn-md btn-primary"><i class="mse mse-edit"></i></a>
                    <button type="button" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete{{ loop.index }}"><i class="mse mse-delete"></i></button>
                </td>
            </tr>
            {% set modal_id = loop.index %}
            {% set gruppo_id = gruppo.id %}
            {% include "utils/modal_delete_g.html" %}
            {% endfor %}
            
        </tbody>
    </table>
</div>
<div class="mse-input-row">
    <a href="{{ url_for('variabili_blueprint.crea_gruppo') }}" type="button" class='mse-input'><i class="mse mse-add-group mx-1"></i> Crea Gruppo</a>
</div>
{% endblock %}

{% block javascripts %} {% endblock javascripts %}
